/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* palette colori */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --light: #FFFFFF;

}

/* layouts */

.container {
    max-width: 1142px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1060px;
    margin: 0 auto;
}

.container-small {
    max-width: 890px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justifycon-between {
    justify-content: space-between;
}

.justifycon-center{
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-flxend{
    align-items: flex-end;
}

.no-wrap{
    flex-wrap: nowrap;
}

/* component classes */

.button {
    color: black;
    line-height: 38px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 16px;
}

.button-blue{
    color: white;
    background-color: var(--blue);
    border-radius: 20px;
    line-height: 40px;
    padding: 0 36px;
    font-size: 16px;
    max-width: 65%;
    text-align: center;
    letter-spacing: 2px;
}

/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



/* header */
.page-header {
    background-color: var(--blue);
    border-bottom: 1,5px solid #B1D9FE;
}

.navbar-list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar .row{
    height: 76px;
}


.icon-burger{
    color: var(--light);
    font-size: 22px;
    display: none;
    padding-right: 30px;
}

.navbar-list-item{
    font-size: 17px;
}

/* 
MAIN 
*/

.section-features{
    padding-top: 48px;
    padding-bottom: 72px;
}

.section-features .row{
    gap: 24px;
}

.card-icon{
    font-size: 80px;
    color: var(--blue);
    padding-bottom: 10px;
}

.features-card{
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 26px 20px 0px 20px;
    font-weight: bold;
}

.card-title{
    color: var(--blue);
    padding-bottom: 24px;
    font-size: 18px;
}

.card-body{
    color: #63798C;
    line-height: 30px;
    padding-bottom: 28px;
}

.section-features .col-8 > .card-body{
    text-align: left;
}

.section-features .col-8{
    flex-basis: calc(((100% - 48px) / 12) * 8);
    flex-grow: 1;
}

.section-features .col-4{
    flex-basis: calc((100% - 48px) / 3);
    text-align: center;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 48px;
}

/* 
MEDIA QUERY 
*/

@media screen and (max-width: 768px) {
    .icon-burger{
        display: inline-block;
    }

    .navbar-list-item{
        display: none;
    }

    .header-logo{
        padding-left: 30px;
    }

    .icon-burger{
        padding-right: 30px;
    }
}