/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

cite {
    font-style: normal;
}

/* palette colori */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --light: #FFFFFF;

}

/* layouts */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-medium {
    max-width: 1060px;
    margin: 0 auto;
}

.container-small {
    max-width: 890px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    max-width: calc((100% / 12) * 3);
}

.col-4 {
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    max-width: calc((100% / 12) * 8);
}

.col-9 {
    max-width: calc((100% / 12) * 9);
}

.col-12 {
    max-width: calc((100% / 12) * 12);
}

.col-10 {
    max-width: calc((100% / 12) * 10);
}

/* utility classes */

.justifycon-between {
    justify-content: space-between;
}

.justifycon-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-flxend {
    align-items: flex-end;
}

.no-wrap {
    flex-wrap: nowrap;
}

/* component classes */

.button-black {
    color: black;
    line-height: 38px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 16px;
}

.button-blue {
    color: white;
    background-color: var(--blue);
    border-radius: 20px;
    line-height: 44px;
    /* padding: 0 26px; */
    font-size: 16px;
    max-width: 224px;
    text-align: center;
    letter-spacing: 2px;
}

.button-black-purple {
    border-radius: 20px;
    color: white;
    background-color: var(--purple);
    padding: 12px;
    text-align: center;
    font-size: 14px;
}



/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



/* header */
.page-header {
    background-color: var(--blue);
    border-bottom: 1, 5px solid #B1D9FE;
}

.navbar-list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar .row {
    height: 76px;
}


.icon-burger {
    color: var(--light);
    font-size: 22px;
    display: none;
    padding-right: 30px;
}

.navbar-list-item {
    font-size: 17px;
}

/* 
MAIN 
*/



/* 
FEATURES 
*/

.section-features {
    padding-top: 48px;
    padding-bottom: 72px;
}


.section-features .container>.row {
    gap: 24px;
    padding-bottom: 40px;
}

.card-icon {
    font-size: 80px;
    color: var(--blue);
    padding-bottom: 10px;
}

.card {
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.features-card {
    background-color: var(--light-blue);
    font-weight: bold;

}

.card-title {
    padding-bottom: 24px;
    font-size: 18px;
}

.section-features .card-title {
    color: var(--blue);
}

.card-body {
    line-height: 30px;
}

.section-features .card-body {
    color: #5E7385;
    padding-bottom: 28px;
}

.section-features .col-8>.card-body {
    -alitextgn: left;
}

.section-features .col-8 {
    max-width: calc(((100% - 12px) / 12) * 8);
    flex-grow: 1;
}

.section-features .col-4 {
    max-width: calc((100% - 48px) / 3);
    text-align: center;
}

.section-features .card-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    padding-top: 30px;
}

.section-features .card-img.col-6>img {
    max-width: 250px;
}

.section-features .card {
    padding: 20px 20px 20px 20px;
}

/* 
PLANNING 
*/

.section-planning {
    background-color: var(--purple);
}

.section-body-title {
    font-size: 22px;
    margin-bottom: 50px;
}

.section-body-content {
    font-size: 16px;
    line-height: 28px;
}

.section-img {
    padding-top: 70px;
    margin-bottom: 100px;
}

.section-planning .section-body {
    color: white;
}

.section-planning {
    padding: 50px 0;
}

.section-title{
    font-size: 30px;
}

.planning-card {
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.planning-card .card-body {
    font-style: italic;
    text-align: center;
    font-weight: 500;
}

.planning-card .card-img {
    max-width: 75%;
    margin-bottom: 20px;
}

.section-planning .col-7 {
    padding: 0 50px;
}

.planning-card .card-title {
    font-weight: bold;
}

.planning-card .button-black-purple {
    margin-top: 30px;
    aspect-ratio: 1;
    color: black;
    border-radius: 50%;
}


/* 
TESTIMONIALS 
*/


.section-testimonials {
    padding: 50px 0 100px;
}

.section-testimonials .section-header,
.section-testimonials .section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-testimonials .section-body {
    font-size: 18px;
    text-align: center;
}

.section-testimonials .section-title {
  color: var(--purple);
}

.section-testimonials .card-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonials-card {
    display: flex;
    align-items: center;
    background-color: var(--purple);
    border-radius: 50px;
}

.section-testimonials .testimonials-img {
    /* clip-path: circle(); */
    border-radius: 50%;
    max-width: 200px;
    object-fit: cover;
    aspect-ratio: 1;
    height: 200px;
}

.testimonials-card {
    padding: 30px 14px 50px;
}

.testimonials-card .card-body {
    color: white;
    padding: 0 50px;
}

.testimonials-card .cite-autor {
    font-weight: 600;
    padding-top: 24px;
    display: block;
    font-size: 20px;
}

.testimonials-card .citation {
    font-size: 18px;
}

.section-testimonials .card-container {
    padding: 60px 0;
}


/* 
BENEFITS 
*/

.section-benefits {
    background-color: var(--purple);

}

.section-benefits .col-3 {
    max-width: calc((100% - 60px) / 3);
}

.section-benefits .section-title {
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.section-benefits .card {
    background-color: white;
    color: var(--purple);
    padding: 30px;
}

.card-number {
    font-size: 80px;
    font-weight: bold;
}

.section-benefits .button-black-purple {
    width: 150px;
    font-weight: 600;
    margin: 20px 0;
}

.section-benefits .card-body {
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.section-benefits .row{
    gap: 30px;
    padding-top: 40px;
}

.section-benefits{
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-benefits .card-title{
    font-size: 24px;
}


/* 
MEDIA QUERY 
*/

@media screen and (max-width: 768px) {
    .icon-burger {
        display: inline-block;
    }

    .navbar-list-item {
        display: none;
    }

    .header-logo {
        padding-left: 30px;
    }

    .icon-burger {
        padding-right: 30px;
    }

    .section-features .col-8 {
        flex-direction: column;
    }

    .section-features .col-6 {
        max-width: 100%;
    }

    /* .features-card {
        padding: 18px 6px 0px 6px;
    } */

    .section-planning .col-5,
    .section-planning .col-7 {
        max-width: 100%;
    }

    .section-planning .container-small>.row {
        gap: 30px;
    }

    .container {
        max-width: 100%;
        padding: 0 30px;
    }

    .container-small {
        max-width: 100%;
        padding: 0 30px;
    }

    .card-body {
        font-size: 18px;
    }

    .section-body-content {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {

    .section-features .col-8,
    .section-features .col-4 {
        max-width: 100%;
    }


    .section-planning .col-7 {
        padding: 0;
    }

    .testimonials-card {
        flex-direction: column;
    }

    .section-testimonials .testimonials-img {
        margin-bottom: 20px;
    }
}